#header {
    background-image: url('assert/background.png');
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    align-items: center;
}

#headerContent {
    margin-left: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

#headerContent h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

#headerContent p {
    font-size: 20px;
    margin-bottom: 20px;
}

#headerContent button {
    padding: 10px 20px;
    font-size: 20px;
    width: 150px;
    color: #fff;
    height: 50px;
    background: #FF6363;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 0px;
    transition: 0.3s ease-in-out;
}
#headerContent button:hover{
    transform: scale(1.05);
}
#headerContent button a{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width: 768px) {
    #headerContent {
        margin-left: 50px;
    }
}